body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header{
    color: #f09f3a;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 95%;
    border-bottom: 1px solid grey;
}

footer{
    color: white;
    background-color: rgb(20, 20, 20);
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    // position: absolute;
    width: 100%;
    min-height: 70px;
    bottom: 0px;
}

#app{
    display: flex;
    flex-direction: column;
    color: #f09f3a;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#entryHolder{
    padding: 20px;
    background-color: #7ab6c7;
    min-height: 40px;

    .top{
        display: flex;
        flex-wrap: wrap;

        #image{
            width: 100%
        }

        #weather{
            width: 100%
        }
    }

    img{
        max-width: 100%;
        max-height: 210px;
    }

}

.hidden{
    display: none;
}

#add_list_wrap{
    min-height: 200px;
    position: absolute;
    z-index: 50;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0px 0px 7px 2px;
}

#close{
    float: right;
    border: 1px solid grey;
    padding: 3px;
    border-radius: 15px;

}

#parking-list{
    margin-top: 5px;
    color: #f09f3a;
    display: flex;
    flex-direction: column;
}

#parking-list span{
    color:#1a1a1a;

    &::before {
        content: "➤";
      }
}

#print_trip{
    margin-top: 10px;
    width: fit-content;
    padding: 3px;
    border: 1.3px dashed white
}

#weather_desc{
    margin-top: 7px;
    display: flex;
    flex-wrap: wrap;
}

#weather_desc span{
    width: 100%;
    color:#c3c1c1
}

.title{
    color: #f09f3a;
    justify-content: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.top{
    background-color: #3b4a6b;
    padding: 10px
}

#date_res{
    font-size: 20px;
    color: black
}

#date,
#temp,
#content
{
    color: black
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#1b8baa;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;

    &:hover{
        background-color: #115568;
    }
}

.add_list{
    min-width: fit-content;
    height: fit-content;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #2f3a53;
    box-shadow: 2px 4px 5px #444;

    &:hover{
        background-color: #27334b;
    }
}

#generate{
    min-width: 200px;
    height: auto;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #2f3a53;
    box-shadow: 2px 4px 5px #444;

    &:hover{
        background-color: #27334b;
    }
}
h1{
    font-size: 36px;
}

textarea{
    background:#1b8baa;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

    &:hover{
        background-color: #115568;
    }
}



/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

// media query
@media screen and (min-width :500px) {
    img{
        max-height: 300px;
    }

    .top{
        display: flex;
        flex-wrap: nowrap;

        #image{
            width: 50%;
        }
        #weather{
            width: 50%
        }
    }

}